<div class="sidebar">
        <h2>🌸Beauty Salon</h2>
        <ul>
                <% if (typeof menu !=='undefined' && menu.length> 0) { %>
                        <% menu.forEach(function(item) { %>
                                <li>
                                        <a href="<%= item.url %>"
                                                class="<%= (typeof path !== 'undefined' && path === item.url) ? 'active' : '' %>">
                                                <i class="fas <%= item.icon %>"></i>
                                                <%= item.label %>
                                        </a>
                                </li>
                                <% }); %>
                                        <% } %>
                                                <li><a href="/logout"><i class="fas fa-right-from-bracket"></i> Sign
                                                                Out</a></li>
        </ul>
</div>