.alert {
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 6px;
    }

    .alert-danger {
      background-color: #f8d7da;
      color: #721c24;
    }

    .alert-success {
      background-color: #d4edda;
      color: #155724;
    }